<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><img src="https://cdn.dribbble.com/users/619658/screenshots/2374888/untitled-1.jpg"width=30px height="30px" alt=""> My Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Products <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Checkout</a>
      <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->
      <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
    </div>
  </div>
</nav>
<div class="container" id="wrapper">
    <input class="form-control form-control-lg" type="text" placeholder="Search">
    <div class="row mt-4">
      <div class="col-4 d-flex align-items:stretch"><div class="card" style="width: 18rem;">
          <img src="http://g03.a.alicdn.com/kf/HTB1j7wfPpXXXXatXVXXq6xXFXXXV/220400949/HTB1j7wfPpXXXXatXVXXq6xXFXXXV.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div>
      <div class="col-4 d-flex align-items:stretch"><div class="card">
          <img src="https://zoghbyuniforms.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/e/_/e_plain_belt_-_black.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div>
      <div class="col-4 d-flex align-items:stretch"><div class="card">
          <img src="https://render.nikeid.com/ir/render/nikeidrender/airPrestoFA18_v1?obj=/s/g5&color=c42122&show&obj=/s/g17&color=c80225&show&obj=/s/g14&color=bd1f32&show&obj=/s/g16&color=b83137&show&obj=/s/g4&color=c80225&show&obj=/s/g6&color=c80225&show&obj=/s/g15&color=b3222a&show&obj=/s/g7&color=ffffff&show&obj=/s/g8&color=ffffff&show&obj=/s/g18&color=141414&show&obj=/s/g10&color=1a1b1b&show&obj=/s/g2/inverse&color=be1d2a&show&obj=/s/g1&color=b83137&show&obj=/s/g13/nike&color=c91026&show&obj=/s/g19&color=c80225&show&obj=/s&req=object&fmt=png-alpha&sharpen=1&op_usm=0.5,1.2,0&posN=0,-0.1&sharpen=1&op_usm=0.5,1.2,0&posN=0,-0.1&fmt=png-alpha&wid=2000&fmt=png-alpha&wid=640" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div>
        <div class="col-4 d-flex align-items:stretch"><div class="card">
            <img src="https://zoghbyuniforms.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/e/_/e_plain_belt_-_black.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div></div>
          </div></div>
          <footer class="card-footer mt-4">
              <p class="text-muted text-right">&copy; copyright</p>
          </footer>