<div class=" d-flex align-items:stretch mt-2"><div class="card">
        <img [src]= "products.imageUrl" class="card-img-top heightset" [alt]="products.alter">
        <div class="card-body">
          <h5 class="card-title">{{products.title | uppercase}}</h5>
          <p class="card-text">{{products.description}}</p>
          <p class="text-success">{{products.price}}</p>
          <button *ngIf="products.isAvailable; else elseBlock" class="btn buy-button">Buy</button>
          <ng-template #elseBlock>
            <button class="btn buy-button disabled">Buy</button>
          </ng-template>
          <button *ngIf="products.isAvailable; else buyer" (click)="addToCart()"class="btn btn-light ml-2"><img src="assets/shopping-cart.svg" height="17px" width="17px">Add to cart</button>
          <ng-template #buyer>
            <button class="btn btn-warning ml-2 disabled"><img src="assets/shopping-cart.svg" height="17px" width="17px">Add to cart</button>
          </ng-template>
        </div>
      </div></div>
